.mobile{
       position: sticky;   /* 🔑 makes it stick */
    top: 0;             /* stick to top */
    z-index: 1000;      /* stay above content */
    background: white;
}
.cart-boxM {
     position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 16px;
    padding-top: 10px;
    padding-left: 6px;
    padding-right: 10px;
}

    /* Logo */

.logo-wrap {
    padding: 8px;
    /* -webkit-column-width: 50px */
}

.logo {
    height: 50px;
    width: 50px;
    /* max-width: 0px; */
    display: block;
    object-fit: contain;
    border:solid 1px #ddd;
    border-radius: 8px;
}

    /* Cart button container */
    .cart{
        position: relative;
        width: 46px;
        height: 46px;

    }
    .cart-count{

    position: absolute;
    top: -6px !important;
    right: -12px;
    background: var(--primary);
    color: #fff;
    border-radius: 999px;
    min-width: 22px;
    height: 22px;
    padding: 0 6px;
    font-size: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    line-height: 1;

    }

    /* Cart icon */
    .cart-icon {
        width: 46px;
        height: 46px;
    }
